body{
    font-family: 'AGENCY FB';
    font-size: 20px;
    background-image: url("resources/ESCENARIOS/Background1.png");
    background-size: 150% 150%;
    background-repeat: no-repeat;
}
* {
    box-sizing: border-box;
}
#columnas{
    display:flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;

}

.flex-content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
h1{
    margin-block-start: auto;
    font-size: 50px;
}

body img{
    width:150px;
    height:150px;

}

#logo{
    width: 150px;
    height: 150px;
}

#logoExit{
    width: 476.5px;
    height: 74.5px;
}

#cabecera{
    transform: translate(0%,0%);
    margin-bottom: 5%;
    text-align: center;
}

.boton{
    display: contents;
}

@media screen and (max-width: 599px) {
    #columnas {   
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 730px) and (max-width: 1024px) {
    body{
        font-size: 30px;
    }
}

@media screen and (min-width: 1024px) {
    body{
        font-size: 35px;
    }
}