
 #mensajeEspera{
     align-content: center;
     transform: translate(0%,700%);
 }
#playground {
    width: 100%;
    height: 100%;
    display: none;
    background-color: #000;
    z-index:-1;
}

#exit{

    -ms-transform: translate(-50%, -50%);
    padding: 2% 5%;
    margin-bottom: 10%;
    -webkit-box-shadow: 4px 5px 9px -1px rgba(0,0,0,0.75);
    background-color: #f1f1f1;
    font-family:Tw Cen MT;
    color: black;
    border-radius: 5px;
    font-size: 16px;
    font-family:Tw Cen MT;
    cursor: pointer;
    text-align: center;
    transform: translate(0%,1000%);

}
.button{
    width:90px;
    height:90px;
    background-color:#03800b;
    padding:10px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    font-size:11px;
    line-height:32px;
    text-transform: uppercase;
}

.hide{
    display:none;
}
#btnJump{

    background-color:violet;

} 

#btnNitro{

    background-color:orange;

}

#easy, #hard{
    
    -ms-transform: translate(-50%, -50%);
    padding: 10% 20%;
    margin-bottom: 10%;
    -webkit-box-shadow: 4px 5px 9px -1px rgba(0,0,0,0.75);
    background-color: #f1f1f1;
    font-family:Tw Cen MT;
    color: black;
    border-radius: 5px;
    font-size: 16px;
    font-family:Tw Cen MT;
    cursor: pointer;
    text-align: center;
    
}

#exit:hover, #easy:hover, #hard:hover{
    background: linear-gradient(to right, rgb(169, 3, 3) 0%, rgba(143,2,34,1) 44%, rgb(22, 1, 5) 100%);
    color: white;

}

#botonesSelector{

    margin-top: 10%;
    width: 60%;
    transform: translate(30%, 50%);
    display: grid;
   
}

#render{
    position: absolute;
    top:0%;
    left: 50%;
    transform: translate(-50%,2%);
}

@media (min-width: 1281px) {

    #actionMobile{
        display: none;
    }
    #botonesSelector {

        width: 100%;
        transform: translate(0%, 50%);

    }

    h1{
        transform: translate(0%,150%);
        font-size: 40px;
    }

    #exit, #easy, #hard{

        font-size: 24px;
        
    }

}

/* 
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

    #actionMobile{
        display: none;
    }

    #botonesSelector {
        transform: translate(30%, 50%);
    }

    h1{
        transform: translate(0%,50%);
    font-size: 30px;
    }
}

/* 
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px

@media (min-width: 768px) and (max-width: 1024px) {

#actionMobile{
    display: block;
}

}*/

/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {


    .button{
        width: 100px;
        height: 100px;
    }

    #playground {
        transform: translate(0%,20%);
    }

    #actionMobile{
        display: block;
        transform: translate(0%,10%);
    }

    #btnJump{
        transform: translate(-270%,-150%);
    }
    

    #btnNitro{
        transform: translate(270%,-150%);
    }
    
    #render{
        top:5%;
        transform: translate(-50%,0%);
    }

    #botonesSelector {

        transform: translate(30%, 0%);
    }
    h1{
        transform: translate(0%,-50%);
        font-size: 30px;
    }

}

/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

    #playground {
        transform: translate(0%,30%);
    }

    #actionMobile{
        display: block;
        transform: translate(0%,10%);
    }

    #btnJump{
        transform: translate(-220%,-100%);
    }
    

    #btnNitro{
        transform: translate(220%,-100%);
    }
    
    #render{
        top:5%;
        transform: translate(-50%,0%);
    }

    #botonesSelector {

        transform: translate(30%, 0%);
    }

    h1{
        transform: translate(0%,0%);
        font-size: 30px;
    }

}

/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px

@media (min-width: 320px) and (max-width: 480px) {

#actionMobile{
    display: block;
}

}*/