#playground {
    width: 640px;
    height: 480px;
    background-color: #000;
    position: static;
    display: inline-block;
    position: absolute;
    left: 30%;
    top: 20%;
    z-index:-1;
}
#muro{
    display:inline-block;
    transform:translate(600px,140px);
    font-family:Tw Cen MT black;
    font-size:30px;
    position: absolute;
    border: 1px solid #CCCCCC;
    border-right-color: #999999;
    border-bottom-color: #999999;
    background-color:#ffffffba;
    height: 480px;
    width: 570px;
    position: static;
    z-index: 100;

}
#cancelarEspera{
    -webkit-box-shadow: 4px 5px 9px -1px rgba(0,0,0,0.75);
    background-color: #f1f1f1;
    font-size: 25px;
    padding: 10px 30px;
    font-family:Tw Cen MT black;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
     

   
}
#cancelarEspera:hover {
    background: linear-gradient(to right, rgb(169, 3, 3) 0%, rgba(143,2,34,1) 44%, rgb(22, 1, 5) 100%);
    color: white;

}

#cancelar{
    
    top:25%;
    left:-25%;
    font-family:Tw Cen MT black;
    font-size:30px;
    
    border: 1px solid #CCCCCC;
    border-right-color: #999999;
    border-bottom-color: #999999;
    background-color:#ffffffba;
    height: 90px;
    width: 300px;
    
    z-index: 100;
    transform:translate(1200px,110px);
    font-size: 20px;
    font-family:Tw Cen MT black;


}

#salirRanking{
    -webkit-box-shadow: 4px 5px 9px -1px rgba(0,0,0,0.75);
    transform: translate(400%, 1350%);
    display:inline-block;
    background-color: #f1f1f1;
    color: black;
    font-size: 25px;
    padding: 10px 30px;
    font-family:Tw Cen MT black;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;

}
#salirRanking:hover {
    background: linear-gradient(to right, rgb(169, 3, 3) 0%, rgba(143,2,34,1) 44%, rgb(22, 1, 5) 100%);
    color: white;

}
#actualizar-btn{
    -webkit-box-shadow: 4px 5px 9px -1px rgba(0,0,0,0.75);
    transform: translate(0%, 30%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    font-family:Tw Cen MT;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
#serpiente{

    position:relative;
    transform: translate(145%, 37%);
    z-index:100;
    display:block;
    

}

#actualizar-btn:hover {
    background: linear-gradient(to right, rgb(169, 3, 3) 0%, rgba(143,2,34,1) 44%, rgb(22, 1, 5) 100%);        
    color: white;

}
#crear-btn{
    -webkit-box-shadow: 4px 5px 9px -1px rgba(0,0,0,0.75);
    transform: translate(0%, 20%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    font-family:Tw Cen MT;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;

}
#crear-btn:hover {
    background: linear-gradient(to right, rgb(169, 3, 3) 0%, rgba(143,2,34,1) 44%, rgb(22, 1, 5) 100%);
    color: white;

}

#ranking{
    -webkit-box-shadow: 4px 5px 9px -1px rgba(0,0,0,0.75);
    transform: translate(430%, 100%);
    font-family:Tw Cen MT black;
    font-size:24px;
    background-color: #f1f1f1;
    color: black;
    font-size: 25px;
    padding: 16px 50px;
    font-family:Tw Cen MT black;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    display:inline-block;

}
#ranking:hover {
    background: linear-gradient(to right, rgb(169, 3, 3) 0%, rgba(143,2,34,1) 44%, rgb(22, 1, 5) 100%);
    color: white;

}
#buscar-btn{
    -webkit-box-shadow: 4px 5px 9px -1px rgba(0,0,0,0.75);
    transform: translate(0%, 10%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;

    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-family:Tw Cen MT;
}

#buscar-btn:hover{
    background: linear-gradient(to right, rgb(169, 3, 3) 0%, rgba(143,2,34,1) 44%, rgb(22, 1, 5) 100%);
    color: white;

}
#message{
    left:3%;
    position:relative;
}

#botonesMenu{
    width: 50%;
    transform: translate(170%, 120%);
   
}
#send-btn{

    -webkit-box-shadow: 4px 5px 9px -1px rgba(0,0,0,0.75);
    transform: translate(20%, 0%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 12px;
    padding: 5px 15px;
    font-family:Tw Cen MT;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;

}

#send-btn:hover{
    background: linear-gradient(to right, rgb(169, 3, 3) 0%, rgba(143,2,34,1) 44%, rgb(22, 1, 5) 100%);
    color: white;

}
#lista{
    display:inline-block;
    top:20%;
    left:1%;
    font-family:Tw Cen MT black;
    font-size:20px;
    position: absolute;
    border: 1px solid #CCCCCC;
    border-right-color: #999999;
    border-bottom-color: #999999;
    background-color:#ffffffba;
    height: 480px;
    overflow-y: scroll;
    padding-left: 10px;
    width: 10%;


}

#console-container {
    position: absolute;
    z-index: -1;
    text-align: justify;
    margin-left: 15px;
    width: 300px;
    display:inline-block;
    background-color:#ffffffba;
    top:20%;
    left:11%;
}

#selector{

    position:relative;
    background-color: rgb(255, 255, 255);
    border: 3px solid #050505;
    z-index: 100;
    width:50%;
    font-family:Tw Cen MT;

    transform:translate(0%,100%);

}
#f{
    -webkit-box-shadow: 4px 5px 9px -1px rgba(0,0,0,0.75);
    font-family:Tw Cen MT;
    transform: translate(0%, 0%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 12px;
    padding: 5px 15px;
    font-family:Tw Cen MT;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
#f:hover{
    background: linear-gradient(to right, rgb(169, 3, 3) 0%, rgba(143,2,34,1) 44%, rgb(22, 1, 5) 100%);
    color: white;

}

#d{
    -webkit-box-shadow: 4px 5px 9px -1px rgba(0,0,0,0.75);
    font-family:Tw Cen MT;
    transform: translate(0%, 0%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 12px;
    padding: 5px 15px;
    font-family:Tw Cen MT;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
#d:hover{
    background: linear-gradient(to right, rgb(169, 3, 3) 0%, rgba(143,2,34,1) 44%, rgb(22, 1, 5) 100%);
    color: white;

}
#m{
    -webkit-box-shadow: 4px 5px 9px -1px rgba(0,0,0,0.75);
    font-family:Tw Cen MT;
    transform: translate(0%, 0%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 12px;
    padding: 5px 15px;
    font-family:Tw Cen MT;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
#m:hover{
    background: linear-gradient(to right, rgb(169, 3, 3) 0%, rgba(143,2,34,1) 44%, rgb(22, 1, 5) 100%);
    color: white;

}

#salir{
    -webkit-box-shadow: 4px 5px 9px -1px rgba(0,0,0,0.75);
    font-family:Tw Cen MT;
    transform: translate(650%, 1700%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 15px;
    padding: 10px 30px;
    font-family:Tw Cen MT;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;

}
#salir:hover{
    background: linear-gradient(to right, rgb(169, 3, 3) 0%, rgba(143,2,34,1) 44%, rgb(22, 1, 5) 100%);
    color: white;

}

#comenzar{
    -webkit-box-shadow: 4px 5px 9px -1px rgba(0,0,0,0.75);
    font-family:Tw Cen MT;
    transform: translate(370%, 1700%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 15px;
    padding: 10px 30px;
    font-family:Tw Cen MT;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;

}
#comenzar:hover{
    background: linear-gradient(to right, rgb(169, 3, 3) 0%, rgba(143,2,34,1) 44%, rgb(22, 1, 5) 100%);
    color: white;

}

#console {
    border: 1px solid #CCCCCC;
    border-right-color: #999999;
    border-bottom-color: #999999;
    height: 453px;
    overflow-y: scroll;
    font-family:Tw Cen MT;
    font-size:15px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
}

#console p {
    padding: 0;
    margin: 0;
}

#partidas-container{

    display:inline-block;
    top:20%;
    right:1%;

    position: absolute;
    border: 1px solid #CCCCCC;
    border-right-color: #999999;
    border-bottom-color: #999999;
    background-color:#ffffffba;
    height: 480px;
    overflow-y: scroll;
    padding-right: 10px;
    width: 30%;
    z-index: -1;
}




#partidas div{

    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5%;
    margin-bottom: 20 px;

}

#partidas{
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50 px;
    text-align:justify;
    font-size: 17px;
    font-family:Tw Cen MT;
    z-index: -1;
}
#unirse-btn{
    -webkit-box-shadow: 4px 5px 9px -1px rgba(0,0,0,0.75);
    transform: translate(10%, 0%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 10px 20px;
    font-family:Tw Cen MT;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

#unirse-btn:hover{
    background: linear-gradient(to right, rgb(169, 3, 3) 0%, rgba(143,2,34,1) 44%, rgb(22, 1, 5) 100%);
    color: white;

}